[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-nmap = "*"
pyrcrack = {git = "https://github.com/XayOn/pyrcrack"}
docopt = "*"
stringcase = "*"
async-timeout = "*"
flask = "*"
flask-cors = "*"

[dev-packages]

[requires]
python_version = "3.7"
